.account__wrapper{
    min-width: 40vw;
    min-height: 97vh;
    background-color: #cce3de;
    border-radius: 6px;
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account__article{
    max-width: 100%;
    min-width: 35vw;
    min-height: 70vh;
    background-color: #d7f0ea;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.account__article-section {
    max-width: 100%;
}

.account__header {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account__header-button {
    margin: 1rem;
    padding: 0.5rem 1rem;
}

.accountstart__button {
    padding: 0.5rem 1rem;
}